*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
}
h1{
    cursor: default;
}
.logo img{
    height:60px;
    width:130px;
}

header{
    background: #27ae60;
    display: flex;
    position: sticky;
    top:0;
    width: 100%;
    z-index: 1000;
    text-align: center;
}
header .arrow-up{
    position: fixed;
    right: 10px;
    top: 720px
}
header .arrow-up img{
    height: 30px;
    width: 30px;
}
header nav{
    text-align: center;
    width: 100%;
    height: 100%;
}
header nav .menu__item{
    margin-top: 20px;
    color: white;
    font-size: 25px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}
header nav .menu__item:hover{
    color:rgb(231, 201, 165);
    border:2px solid #696969;
    border-radius: 10px;
}
header nav .menu__item:active{
    background: #219150;
    font-size: 24px;
}
header nav .menu__item:visited{
    font-size: 29px;
    color:rgb(199, 199, 199);
}
.user{
    position: absolute;
    right: 100px;
    top: 40px;
    width: 40px;
    /* overflow: hidden; */
    background-color: #27ae60;
}
.userbtn{
    /* margin-top: 20px; */
    /* display: inline-block; */
    /* padding: 20px; */
    /* text-decoration: none; */
    background-color: #27ae60;
    border-radius: 50px;
    cursor: pointer;
}
.user-icon{
    width: 28px;
    height: 28px;
    background-color: #27ae60;
}
main{
    display: flex;
}

.main-content{
    width: 100%;
}
.banner{
    width: 100%; 
    height: 400px;
}
.main-content section{
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    padding:10px 50px;
}

.main-content section img{
    border-radius: 10px;
}
.russian-clasic ol ul li cite{
    margin-left: 50px;
}
.pattern-right{
    float:right;
    width: 100px;
    height: 270px;
    padding-right: auto;
}
.pattern-left{
    float:left;
    width: 100px;
    height: 270px;
}
.popular-products article{
    display: inline-block;
    width: 100px;
    background-color: #27ae60;
}
ol, li{
    position: relative;
    left: 25px;
    list-style: none;
}
dd {
    padding-left: 30px;
}

.main-content .book-today img{
    float: left;
    height: 200px;
    margin-right: 15px;
    border-radius: 0;
    padding:  10px;
}

main > aside{
    background-color: #FFE4C4;
    width: 30%;
    height: 60%;
}
main > aside div{
    width: 100%;
}
.sale-title{
    text-align: center;
}
article{
    text-align: center;
    padding: 10px 10px 15px;
    margin:5px;
    border: 1px solid #219150;
    border-radius: 10px;
}
.btn-cart{
    background-color: green;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px;
    margin-top: 5px;
}
.btn-cart a{
    margin-top: 5px;
    text-decoration: none;
    color:white;
}

.btn-close{
    position: absolute;
    right: 5px;
    top:105px;
}
.btn-close img{
    width: 20px;
    height: 20px;
}

footer{
    background-color: #27ae60;
    padding:10px 20px;
}
footer section img{
    margin-top: 5px;
}

@media (max-width: 1300px) {
    html{
            font-size: 18px;
    }
    main{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    main aside{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    main aside h3{
        flex-basis: 100%;
    }
    main > aside div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-self: flex-start;
    }
    .banner{
        height: 300px;
        width: 600px;
    }
}

.hamburger-menu{
    display: none;
}

@media (max-width: 760px) {
    html{
        font-size: 20px;
    }   

    .logo{
        font-size: 15px;
    }
    .logo img{
        height:50px;
        width:100px; 
    }

    main aside div{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .pattern-right{
        display: none;
    }
    .product{
        width: 60%;
    }
    .banner{
        height: 200px;
        width: 100%;
    }
}
@media (max-width: 826px) {
    .pattern-left{
        display: none;
    }
    nav{
        display: none;
    }
    .hamburger-menu{
        display:initial;
    }
    #menu__toggle {
        opacity: 0;
    }
    .menu__btn {
        display: flex; 
        align-items: center;
        position: fixed;
        top: 25px;
        right: 20px;
        width: 36px;
        height: 50px;
        cursor: pointer;
        z-index: 1;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: black;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    /* контейнер меню */
    .menu__box {
        
        display: block;
        position: fixed;
        visibility: hidden;
        top: 91px;
        width: 100%;
        height: 100%;
        padding-top: 80px;    
        list-style: none;
        padding-left: 0;
        text-align: center;
        background-color: rgb(255 255 255 / 0.9);
    }
    .menu__box li{
        left: 0;    
    }
    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0; 
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0; 
        right: 0;   
    }
    .container-notif{
        margin-right: 40px;
    }
    .user{
        margin-right: 40px;
    }
}



/* Галерея */
.gallery{
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
.gallery h3{
    text-align: center;
    border: 2px solid #333;
    background-color: #FFE4C4;
    border-radius: 10px;
}
.gallery-container{
    display: flex;
    height: 2000px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}
.gallery-container img{
    width: 400px;
    border-radius: 10px;
    margin: 10px;
    flex-grow: 1;
}

@media (max-width:1293px) {
    .gallery-container img{
        width: calc(50% - 10px);
    }
    .gallery-container{
        height: 4000px;
    }
}
@media (max-width:838px) {
    .gallery-container{
        height: 2500px;
    }
}
@media (max-width:768px) {
    .gallery-container img{
        width: calc(50% - 10px);
    }
    .gallery-container{
        height: 2300px;
    }
}
@media (max-width:645px){
    .gallery-container img{
        width: calc(100% - 10px);
    }
    .gallery-container{
        height: initial;
    }
}

#Topic2:before {
	display: block;
	content: "";
	height: 4.7em;
	margin: -4.7em 0 0;
}




.container-notif {
    right:20px;
    top:0;
    position: absolute;
    display: inline-block;
    z-index: 1;
}
.notifications-icon{
    width: 28px;
    height: 28px;

}

.dropbtn {
    margin-top: 20px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    background-color: #27ae60;
    border-radius: 50px;

}

.notifications-content {
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
}

.notifications-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.circle-count-notif{
    font-size: 14px;
    width: 14px;
    border-radius: 10px;
    background-color:darkorchid;
    position:absolute;
    right:10px;
    top:30px;
}

/* Change color of dropdown links on hover */
.notifications-content a:hover {
    background-color: #27ee60;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px grey;
    position: relative;
    width: calc(100% + 10px);
    right:5px;
    top: 0;
}


.container-notif:hover .notifications-content {
    display: block;
    border-radius: 0px 0px 20px 20px;
    opacity: 1;
    transition: all 0.5s ease-in 2s;
}


.container-notif:hover .dropbtn {
    background-color:#27ee60;
    border-radius: 20px 20px 0px 0px;
    width: 200px;
    transition: all 0.5s ease;
}
.container-notif:hover .dropbtn img{
    float:left;
}
.container-notif:hover .circle-count-notif{
    right:140px;
    top:30px;
    position: absolute;
}

/* карточки с анимациями */




.anim-cards{
    width: 100%;
    padding-bottom: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFE4C4;
}
.anim-cards > h3{
    text-align: center;
    border: 2px solid #333;
    background-color: #27ae60;
    border-radius: 10px;
}
.anim-card-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.anim-card{
    margin-top: 40px;
    width: 250px;
    height: 370px;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.anim-card:hover{
    transform: translateY(-20px);
}
.anim-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(37, 175, 78,0.5));
    z-index: 2;
    transition: .5s all;
    opacity: 0;
}
.anim-card:hover::before {
    opacity: 1;
}
.anim-card img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.anim-card .card-info h3 {
    margin: 0;
    border: none;
    background-color: transparent;
    text-align: left;
}
.anim-card .card-info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.anim-card .card-info {
    position: absolute;
    overflow-wrap: break-word;
    bottom: 40px;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: .5s all;
    margin-left: 5px;
}
.anim-card:hover .card-info {
    opacity: 1;
    transform: translateY(0px);
}
.anim-card .card-info .card-btn {
    text-decoration: none;
    padding: 0.5rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: .4s ease-in-out;
    border-radius: 5px;
}
.anim-card .card-info .card-btn:hover{
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

/* Конец анимированных карт */

/* начало видео с анимацией */



.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.video-wrapper {
    margin-top: 40px;
    position: relative;
    transition: transform 0.3s;
}
@keyframes video-info-anim {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}
.video-wrapper:hover .video-info{
    display: flex;
    left:-50px;
    z-index: 1;
    opacity: 100%;
    transition: 2s ease-out;
    transition-delay: 2s;
    animation-name: video-info-anim;
    animation-duration:2s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}

.video-info{
    margin-top: 40px;
    padding: 30px;
    width: 800px;
    height: 400px;
    background: #000;
    color:#fff;
    position: absolute;
    left:-100px;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: 0.7s ease-out;
    flex-direction: column;
    opacity: 0;
    z-index: -1;
}
.video-info h3{
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    padding: 20px;
}
.video-info p{
    width: 100%;
    padding: 0px 20px;
}
iframe{
    width:800px;
    height: 500px;
}
@media (max-width:824px){
    iframe{
        width:400px;
        height: 300px;
    }
    .video-info{
        width:400px;
        height: 230px;
    }
}
@media (max-width:504px){
    iframe{
        width:100%;
        height: 200px;
    }
    .video-info{
        width:100%;
        height: 200px;
        font-size: 14px;
    }
    .video-info h3{
        font-size: 14px;
        padding-left: 20px;
        padding-bottom: 0px;
    }

}



/* конец видео с анимацией */





